$bg-white: #FEFEFE;
$pumpkin: #FF700A;
$mexican-pink: #E11481;
$purple: #6A009E;
$russian-violet: #270439;

$default-padding: 10px;
$default-gutter: 20px;
$default-section-margin: 50px;
$large-font-size: 1.5em;