@import './variables';
@import './btn-and-cards';

main{
    padding: 0 $default-padding;
}

.contact{
    h1{
        font-size: 3rem;
        color: $purple;
        margin: none;
    }

}
.facade-img-container{
    display: none;
}
.map{
    border: 3px solid #270439;
    border-radius: 10px;
    height: 380px;
    margin-top: $default-section-margin;
}

@media screen and (min-width: 960px){

    .address-sec{
        display: flex;
    }

    .contact{
        width: 450px;
        margin: 50px 20px;
    }

    .facade-img-container{
        display: unset;
        border: 3px solid #270439;
        width: 450px;
        height: 200px;
        border-radius: 10px;
        margin-top: 100px;
        background-size: contain;
        overflow: hidden;
    }
    .facade-img{
        width: 100%;
    }
}