.btn {
  width: 340px;
  height: 60px;
  background-color: #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.btn:hover {
  color: #E11481;
}

.instagram-btn {
  position: relative;
}

.instagram-btn svg {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.instagram-btn .instagram-txt {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.instagram-btn:hover path {
  fill: #E11481;
}

.img-card-row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 340px;
  height: 340px;
  overflow: hidden;
}

.img-card {
  display: none;
  width: 340px;
  height: 340px;
  border: 3px solid #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.img-card img {
  width: 100%;
}

.img-card:first-child {
  display: block;
}

@media screen and (min-width: 600px) {
  .btn {
    width: 300px;
  }
  .btn svg {
    left: 10px;
  }
  .btn .instagram-txt {
    right: 10px;
  }
  .img-card {
    width: 300px;
    height: 300px;
  }
  .img-card-row-container {
    width: 100%;
  }
  .img-card:nth-child(2) {
    display: block;
  }
}

@media screen and (min-width: 950px) {
  .img-card-row-container {
    width: 100%;
  }
  .img-card:last-child {
    display: block;
  }
}

.gallery h1 {
  font-size: 3rem;
  color: #6A009E;
  margin-left: 10px;
}

.img-card-row-container {
  height: unset;
  overflow: unset;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.gallery-btns {
  margin-top: 0;
}

.gallery-btns .btn {
  margin: auto;
  margin-bottom: 30px;
}

.gallery-btns .instagram-btn {
  display: none;
}

.under-row-btn {
  margin-bottom: 30px;
}

.last-btn {
  display: block;
  margin: auto;
}

.img-card {
  position: relative;
}

.img-card .img3-row1 {
  -o-object-position: 0 -30px;
     object-position: 0 -30px;
}

.img-card .img1-row2 {
  -o-object-position: 0 -170px;
     object-position: 0 -170px;
}

.img-card .img2-row2 {
  -o-object-position: 0 -100px;
     object-position: 0 -100px;
}

.img-card .img3-row2 {
  -o-object-position: 0 -100px;
     object-position: 0 -100px;
}

.img-card .img1-row3 {
  -o-object-position: 0 -100px;
     object-position: 0 -100px;
}

.img-card .img2-row3 {
  -o-object-position: 0 -60px;
     object-position: 0 -60px;
}

@media screen and (max-width: 600px) {
  .gallery-btns .under-row-btn {
    display: block;
  }
  .img-card {
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 600px) {
  .gallery .img-card-row-container {
    padding: 0 10px;
  }
  .gallery .img-card-row-container:first-child {
    margin: 0;
  }
  .gallery-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
  }
  .gallery-btns .instagram-btn {
    display: block;
    margin-left: 20px;
  }
  .gallery-btns .under-row-btn {
    display: none;
  }
  .gallery-btns #under-row-instagram {
    display: none;
  }
  .img-card-row-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 50px;
  }
  .img-card-row-container .img-card {
    margin-left: 20px;
  }
  .img-card-row-container .first-card {
    margin-left: 0;
  }
}
/*# sourceMappingURL=galeria.css.map */