@import './variables';
@import './btn-and-cards';


.hero{
    width: 100%;
    height: calc(100vh - 130px);
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
}
.hero-container{
    position: relative;
    height: 100%;
}
.hero-txt-container{
    position: absolute;
    width: 340px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
        font-size: 1.7rem;
    }
    p{
        font-size: 1.2rem;
    }
}
.hero-model{
    display: none;
}

.traits-section{
    margin-top: $default-section-margin;
    padding: 0 $default-padding;
    h2{
        margin: 0 0 30px 0;
        color: $purple;
        font-size: 3rem;
        white-space: nowrap;
    }
    p{
        color: $purple;
    }
    .trait-row{
        display: flex;
        justify-content: space-between;
    }
    .trait-card{
        width: 150px;
        text-align: center;
    }
    .trait-img{
        width: 120px;
    }
}

.gallery{
    position: relative;
    margin-top: 70px;
    .gallery-bg{
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 200%;
        padding: 30px 0 50px 0;
        background-image: url(../images/mini-gallery-bg.svg);
        background-repeat: no-repeat;
        background-position: left top;
        z-index: -50;
    }
}



.gallery-container{
    margin: auto;
    padding: 0 $default-padding;
    h2{
        margin-left: $default-padding;
        font-size: 3rem;
        color: $bg-white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.gallery-btns{
    margin-top: $default-section-margin;
    .btn-contact{
        display: block;
        margin: auto;
    }
    .instagram-btn{
        display: none;
    }
}
.img-card{
    &:first-child{
        margin-left: 0;
    }
}
.quote-section{
    margin-top: $default-section-margin;
    margin: auto;
    overflow: hidden;
    h2{
        margin-left: $default-padding;
        font-size: 3rem;
        color: $purple;
    }
}

.quotes{
    display: grid;
    width: 200%;
    grid-template-columns: 1fr 1fr;
}
.quote-container{
    animation: 10s carousel infinite;
}

@keyframes carousel{
    40% {
        transform: translate(0);
    }
    50% {
        transform: translate(-100%);
    }
    90% {
        transform: translate(-100%);
    }
    99% {
        transform: translate(0);
      }
    
}
.quote-author-picture{
    width: 150px;
    height: 150px;
    margin: auto;
    border: 3px solid #270439;
    box-sizing: border-box;
    border-radius: 100px;
    overflow: hidden;
    img{
        width: 100%;
    }
}

.quote-author-name{
    p{
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
    }
}
.quote{
    p{
        text-align: center;
        font-style: italic;
    }
}




@media screen and (min-width: 600px){
    .quote-section{
        margin-top: 70px;
    }
    .gallery-btns{
        display: flex;
        margin-top: 0;
        .instagram-btn{
            display: block;
            margin-left: $default-gutter;
        }
    }


}
@media screen and (min-width: 700px){
    .hero{
        .btn{
            width: 100%;
        }
    }
    .hero-txt-container{
        left: 25%;
    }
    .hero-model{
        display: unset;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: $default-padding;
        img{
            height: 100%;
        }
    }
    .trait-row{
        width: 45%;
    }
    .trait-block{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
// A partir dessa largura de tela, o h2 "Galeria" sai do fundo laranja
@media screen and (min-width: 2110px){
    .gallery-container{
        h2{
            color: $purple;
        }
    }
}