.btn {
  width: 340px;
  height: 60px;
  background-color: #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.btn:hover {
  color: #E11481;
}

.instagram-btn {
  position: relative;
}

.instagram-btn svg {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.instagram-btn .instagram-txt {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.instagram-btn:hover path {
  fill: #E11481;
}

.img-card {
  width: 340px;
  height: 340px;
  border: 3px solid #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (min-width: 960px) {
  .btn {
    width: 300px;
  }
  .btn svg {
    left: 10px;
  }
  .btn .instagram-txt {
    right: 10px;
  }
  .img-card {
    width: 300px;
    height: 300px;
  }
}

.hero {
  width: 100%;
  height: calc(100vh - 130px);
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
}

.hero-container {
  position: relative;
  height: 100%;
}

.hero-txt-container {
  position: absolute;
  width: 340px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-model {
  display: none;
}

.traits-section {
  margin-top: 50px;
  padding: 0 10px;
}

.traits-section h2 {
  margin: 0 0 30px 0;
  color: #6A009E;
  font-size: 3rem;
  white-space: nowrap;
}

.traits-section p {
  color: #6A009E;
}

.traits-section .trait-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.traits-section .trait-card {
  width: 150px;
  text-align: center;
}

.traits-section .trait-img {
  width: 120px;
}

.mini-gallery {
  position: relative;
  margin-top: 70px;
}

.mini-gallery .gallery-bg {
  position: absolute;
  top: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 200%;
  padding: 30px 0 50px 0;
  background-image: url(../images/mini-gallery-bg.svg);
  background-repeat: no-repeat;
  background-position: left top;
  z-index: -50;
}

.mini-gallery-container {
  padding: 0 10px;
}

.mini-gallery-container h2 {
  font-size: 3rem;
  color: #FEFEFE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mini-gallery-btns {
  margin-top: 50px;
}

.mini-gallery-btns .instagram-btn {
  display: none;
}

.quotes {
  height: 500px;
}

@media screen and (min-width: 2110px) {
  .mini-gallery-container h2 {
    color: #6A009E;
  }
}
/*# sourceMappingURL=home.css.map */