.btn {
  width: 340px;
  height: 60px;
  background-color: #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.btn:hover {
  color: #E11481;
}

.instagram-btn {
  position: relative;
}

.instagram-btn svg {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.instagram-btn .instagram-txt {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.instagram-btn:hover path {
  fill: #E11481;
}

.img-card-row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 340px;
  height: 340px;
  overflow: hidden;
}

.img-card {
  display: none;
  width: 340px;
  height: 340px;
  border: 3px solid #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.img-card img {
  width: 100%;
}

.img-card:first-child {
  display: block;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .btn {
    width: 300px;
  }
  .btn svg {
    left: 10px;
  }
  .btn .instagram-txt {
    right: 10px;
  }
  .img-card {
    width: 300px;
    height: 300px;
  }
  .img-card-row-container {
    width: 100%;
  }
  .img-card:nth-child(2) {
    display: block;
  }
}

@media screen and (min-width: 950px) {
  .img-card-row-container {
    width: 100%;
  }
  .img-card:last-child {
    display: block;
  }
}

.hero {
  width: 100%;
  height: calc(100vh - 130px);
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
}

.hero-container {
  position: relative;
  height: 100%;
}

.hero-txt-container {
  position: absolute;
  width: 340px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-txt-container h1 {
  font-size: 1.7rem;
}

.hero-txt-container p {
  font-size: 1.2rem;
}

.hero-model {
  display: none;
}

.traits-section {
  margin-top: 50px;
  padding: 0 10px;
}

.traits-section h2 {
  margin: 0 0 30px 0;
  color: #6A009E;
  font-size: 3rem;
  white-space: nowrap;
}

.traits-section p {
  color: #6A009E;
}

.traits-section .trait-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.traits-section .trait-card {
  width: 150px;
  text-align: center;
}

.traits-section .trait-img {
  width: 120px;
}

.gallery {
  position: relative;
  margin-top: 70px;
}

.gallery .gallery-bg {
  position: absolute;
  top: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 200%;
  padding: 30px 0 50px 0;
  background-image: url(../images/mini-gallery-bg.svg);
  background-repeat: no-repeat;
  background-position: left top;
  z-index: -50;
}

.gallery-container {
  margin: auto;
  padding: 0 10px;
}

.gallery-container h2 {
  margin-left: 10px;
  font-size: 3rem;
  color: #FEFEFE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery-btns {
  margin-top: 50px;
}

.gallery-btns .btn-contact {
  display: block;
  margin: auto;
}

.gallery-btns .instagram-btn {
  display: none;
}

.quote-section {
  margin-top: 50px;
  margin: auto;
  overflow: hidden;
}

.quote-section h2 {
  margin-left: 10px;
  font-size: 3rem;
  color: #6A009E;
}

.quotes {
  display: -ms-grid;
  display: grid;
  width: 200%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.quote-container {
  -webkit-animation: 10s carousel infinite;
          animation: 10s carousel infinite;
}

@-webkit-keyframes carousel {
  40% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  90% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  99% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes carousel {
  40% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  90% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  99% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.quote-author-picture {
  width: 150px;
  height: 150px;
  margin: auto;
  border: 3px solid #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  overflow: hidden;
}

.quote-author-picture img {
  width: 100%;
}

.quote-author-name p {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.quote p {
  text-align: center;
  font-style: italic;
}

@media screen and (min-width: 600px) {
  .quote-section {
    margin-top: 70px;
  }
  .gallery-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .gallery-btns .instagram-btn {
    display: block;
    margin-left: 20px;
  }
}

@media screen and (min-width: 700px) {
  .hero .btn {
    width: 100%;
  }
  .hero-txt-container {
    left: 25%;
  }
  .hero-model {
    display: unset;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  .hero-model img {
    height: 100%;
  }
  .trait-row {
    width: 45%;
  }
  .trait-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 2110px) {
  .gallery-container h2 {
    color: #6A009E;
  }
}
/*# sourceMappingURL=home.css.map */