@import './variables';
@import './btn-and-cards';

.hero{
    width: 100%;
    height: calc(100vh - 130px);
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
}
.hero-container{
    position: relative;
    height: 100%;
}
.hero-txt-container{
    position: absolute;
    width: 340px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-model{
    display: none;
}

.traits-section{
    margin-top: 30px;
    padding: 0 $default-padding;
    h2{
        margin: 0 0 30px 0;
        color: $purple;
        font-size: 3rem;
        white-space: nowrap;
    }
    p{
        color: $purple;
    }
    .trait-row{
        display: flex;
        justify-content: space-between;
    }
    .trait-card{
        width: 150px;
        text-align: center;
    }
    .trait-img{
        width: 120px;
    }
}