.btn {
  width: 340px;
  height: 60px;
  background-color: #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

.btn:hover {
  color: #E11481;
}

.instagram-btn {
  position: relative;
}

.instagram-btn svg {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.instagram-btn .instagram-txt {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.instagram-btn:hover path {
  fill: #E11481;
}

.img-card-row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
  height: 340px;
  overflow: hidden;
}

.img-card {
  display: none;
  width: 340px;
  height: 340px;
  margin: 0 10px;
  border: 3px solid #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.img-card img {
  width: 100%;
}

.img-card:first-child {
  display: block;
}

@media screen and (min-width: 600px) {
  .btn {
    width: 300px;
  }
  .btn svg {
    left: 10px;
  }
  .btn .instagram-txt {
    right: 10px;
  }
  .img-card {
    width: 300px;
    height: 300px;
  }
  .img-card-row-container {
    width: 960px;
  }
  .img-card:nth-child(2) {
    display: block;
  }
}

@media screen and (min-width: 950px) {
  .img-card-row-container {
    width: 100%;
  }
  .img-card:last-child {
    display: block;
  }
}

.services {
  padding: 0 10px;
}

.services h1 {
  color: #6A009E;
  font-size: 3rem;
  margin-bottom: 30px;
}

.service-img-container {
  width: 340px;
  height: 340px;
  border: 3px solid #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.service-img-container img {
  width: 100%;
}

.service-img-container .tanning-service-img {
  -o-object-position: 0 -150px;
     object-position: 0 -150px;
}

.service-txt-container {
  width: 340px;
  margin-bottom: 30px;
}

.service-txt-container h2 {
  margin: 0;
}

.btn {
  margin: 30px 0;
}

.under-txt-btn {
  display: none;
}

@media screen and (min-width: 960px) {
  .service-containter {
    width: 100%;
  }
  .under-txt-btn {
    display: block;
    margin-bottom: 0;
  }
  .under-img-btn {
    display: none;
  }
  .first-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 50px;
  }
  .first-service .service-txt-container {
    margin-left: 20px;
  }
  .second-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
  .second-service .service-txt-container {
    position: relative;
    margin-right: 20px;
  }
  .second-service .service-txt-container .btn {
    position: absolute;
    margin: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .service-img-container {
    width: 460px;
    height: 460px;
  }
  .service-txt-container {
    width: 460px;
    height: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=servicos.css.map */