@import './variables';

body{
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: $bg-white;
    color: $russian-violet;
}
.ds-font{
    font-family: 'Dancing Script', cursive;
}
.restrained-width{
    min-width: 340px;
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}
.overflow{
    width: 100%
}
a{
    text-decoration: none;
}

.main-header, .main-footer{
    background-color: $russian-violet;
    color: white;
    position: relative;
    box-sizing: border-box;
}
.main-header{
    position: fixed;
    background-color: $russian-violet;
    z-index: 5;
}
// Necessario para esconder o menu passando
.header-content{
    background-color: $russian-violet;
}

.top-header{
    height: 40px;
    background-color: $russian-violet;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
}
.header-address{
    position: absolute;
    width: 100%;
    height: 100%;
    p{
        margin: 0;
    }
}
.horario{
    display: none;
    font-weight: 700;
}
.whatsapp{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    white-space: nowrap;
}
.logo-nav-bar-container{
    position: fixed;
    z-index: -1;
    height: 90px;
    background-color: $bg-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: height 0.2s ease-in-out;
    overflow: hidden;
}
#logo-nav-bar{
    width: 100%;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}
.logo-container{
    position: absolute;
    left: $default-padding;
    top: 50%;
    transform: translateY(-50%);
    // height: 80px;
    height: 90%;
}
.logo{
    max-width: 208px;
    height: 100%;
}

#hamburguer-menu{
    position: absolute;
    right: $default-padding;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;
    &:hover .line{
        background-color: $mexican-pink;
    }
}
.line{
    width: 100%;
    height: 4px;
    background-color: $russian-violet;
    transition: transform 0.8s;
}

.menu-nav{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 90px;
    display: none;
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        &:first-child{
            position: relative;
            &::after{
                content: "";
                top: 0px;
                width: 100%;
                height: 3px;
                background-color: $mexican-pink;
                position: absolute;
                left: 0;
            }
        }
    }
    .menu-link{
        display: block;
        background-color: $russian-violet;
        width: 100%;
        height: 75px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        line-height: 75px;
        letter-spacing: 0.1em;
        font-weight: 700;
        font-size: $large-font-size;
        position: relative;
        &::after{
            content: "";
            bottom: 0px;
            width: 100%;
            height: 3px;
            background-color: $mexican-pink;
            position: absolute;
            left: 0;
        }
        &:hover{
            color: $mexican-pink;
        }
    }
}
.change{
    .line-1{
        transform: rotate(-405deg) translate(-14px, 4px);
    }
    .line-2{
        transform: scaleX(0);
    }
    .line-3{
        transform: rotate(405deg) translate(-14px, -6px);
    }
    .menu-nav{
        display: block;
    }
}
.under-nav{
    padding-top: 130px;
}
.main-footer{
    margin-top: 60px;
    padding: $default-padding;
}
.address-footer{
    max-width: 540px;
}
.social-media-division-line{
    background-color: white;
    height: 3px;
    width: 160px;
    margin: auto;
    margin-bottom: 10px;
}
.social-nav{
    display: flex;
    width: 160px;
    margin: auto;
    justify-content: space-around;
}
.social-media-icon{
    width: 60px;
    height: 60px;
    &:hover .svg-path{
        fill: $mexican-pink;
    }
}

.hor-flex{
    display: flex;
    justify-content: space-between;
}

.bold{
    font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}


.place-holder{
    height: 200px;
}

@media screen and (min-width: 500px){
    .horario{
        display: inline;
        position: absolute;
        left: $default-padding;
        top: 50%;
        transform: translateY(-50%);
    }
    .whatsapp{
        left: unset;
        transform: unset;
        transform: translateY(-50%);
        right: $default-padding;
    }
}
@media screen and (min-width: 660px){
    .main-footer{
        height: 150px;
    }
    .footer-content{
        display: flex;
    }
    .address-footer{
        flex-grow: 1;
    }
    .social-media-division-line{
        width: 3px;
        height: 100px;
        margin-right: 0;
    }
    .social-nav{
        margin: 0;
        width: unset;
        justify-content: unset;
    }
    .social-icon-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .social-media-icon{
        margin-left: $default-gutter;
    }
}
@media screen and (min-width: 760px){
    .logo-nav-bar-container{
        height: 135px;
    }
    .under-nav{
        padding-top: 175px;
    }
    .menu-nav{
        position: absolute;
        display: unset;
        width: unset;
        z-index: 0;
        top: 0;
        top: 50%;
        transform: translateY(-50%);
        right: $default-padding;
        transition: all 0s;
        li{
            display: inline-block;
            margin-left: $default-gutter;
            &:first-child{
                position: unset;
                &::after{
                    content: none;
                }
            }
        }
        .menu-link{
            display: inline-block;
            line-height: unset;
            height: unset;
            padding: $default-padding 0;
            background-color: transparent;
            color: black;
            &::before{
                content: "";
                top: 0px;
                width: 100%;
                height: 3px;
                position: absolute;
                left: 0;
                transition: none;
                transform: scale(0);
                transition: transform 0.2s;
                transform-origin: left;
            }
            &::after{
                content: "";
                background-color: transparent;
                transition: none;
                transform: scale(0);
                transition: transform 0.2s;
                transform-origin: right;
            }
            &:hover{
                color: $mexican-pink;
            }
            &:hover::before, &:hover::after{
                background-color: $mexican-pink;
                transform: scale(1);
            }
        }
    }
    .current-page{
        .menu-link{
            color: $mexican-pink;
        }
        .menu-link::before, .menu-link::after{
            background-color: $mexican-pink;
            transition: unset;
            transform: scale(1);
        }
    }
    #hamburguer-menu{
        display: none;
    }
}