body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #FEFEFE;
  color: #270439;
}

.ds-font {
  font-family: 'Dancing Script', cursive;
}

.restrained-width {
  min-width: 360px;
  max-width: 960px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overflow {
  width: 100%;
}

a {
  text-decoration: none;
}

.main-header, .main-footer {
  background-color: #270439;
  color: white;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  position: fixed;
  background-color: #270439;
  z-index: 5;
}

.header-content {
  background-color: #270439;
}

.top-header {
  height: 40px;
  background-color: #270439;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 5;
}

.header-address {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-address p {
  margin: 0;
}

.horario {
  display: none;
  font-weight: 700;
}

.whatsapp {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
  white-space: nowrap;
}

.logo-nav-bar-container {
  position: absolute;
  z-index: -1;
  height: 90px;
  background-color: #FEFEFE;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

#logo-nav-bar {
  width: 100%;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo-container {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 90%;
}

.logo {
  max-width: 208px;
  height: 100%;
}

#hamburguer-menu {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

#hamburguer-menu:hover .line {
  background-color: #E11481;
}

.line {
  width: 100%;
  height: 6px;
  background-color: #270439;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.menu-nav {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 90px;
  display: none;
}

.menu-nav ul {
  margin: 0;
  padding: 0;
}

.menu-nav li {
  list-style: none;
}

.menu-nav li:first-child {
  position: relative;
}

.menu-nav li:first-child::after {
  content: "";
  top: 0px;
  width: 100%;
  height: 3px;
  background-color: #E11481;
  position: absolute;
  left: 0;
}

.menu-nav .menu-link {
  display: block;
  background-color: #270439;
  width: 100%;
  height: 75px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 75px;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 1.5em;
  position: relative;
}

.menu-nav .menu-link::after {
  content: "";
  bottom: 0px;
  width: 100%;
  height: 3px;
  background-color: #E11481;
  position: absolute;
  left: 0;
}

.menu-nav .menu-link:hover {
  color: #E11481;
}

.change .line-1 {
  -webkit-transform: rotate(-405deg) translate(-16px, 6px);
          transform: rotate(-405deg) translate(-16px, 6px);
}

.change .line-2 {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.change .line-3 {
  -webkit-transform: rotate(405deg) translate(-16px, -8px);
          transform: rotate(405deg) translate(-16px, -8px);
}

.change .menu-nav {
  display: block;
}

.under-nav {
  padding-top: 130px;
}

.main-footer {
  margin-top: 60px;
  padding: 10px;
}

.address-footer {
  max-width: 540px;
}

.social-media-division-line {
  background-color: white;
  height: 3px;
  width: 160px;
  margin: auto;
  margin-bottom: 10px;
}

.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-media-icon {
  width: 60px;
  height: 60px;
}

.social-media-icon:hover .svg-path {
  fill: #E11481;
}

.hor-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.place-holder {
  height: 200px;
}

@media screen and (min-width: 500px) {
  .horario {
    display: inline;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .whatsapp {
    left: unset;
    -webkit-transform: unset;
            transform: unset;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
  }
}

@media screen and (min-width: 660px) {
  .main-footer {
    height: 150px;
  }
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address-footer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .social-media-division-line {
    width: 3px;
    height: 100px;
    margin-right: 0;
  }
  .social-nav {
    margin: 0;
    width: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .social-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-media-icon {
    margin-left: 20px;
  }
}

@media screen and (min-width: 760px) {
  .logo-nav-bar-container {
    height: 135px;
  }
  .under-nav {
    padding-top: 175px;
  }
  .menu-nav {
    position: absolute;
    display: unset;
    width: unset;
    z-index: 0;
    top: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .menu-nav li {
    display: inline-block;
    margin-left: 20px;
  }
  .menu-nav li:first-child {
    position: unset;
  }
  .menu-nav li:first-child::after {
    content: none;
  }
  .menu-nav .menu-link {
    display: inline-block;
    line-height: unset;
    height: unset;
    padding: 10px 0;
    background-color: transparent;
    color: black;
  }
  .menu-nav .menu-link::before {
    content: "";
    top: 0px;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .menu-nav .menu-link::after {
    content: "";
    background-color: transparent;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .menu-nav .menu-link:hover {
    color: #E11481;
  }
  .menu-nav .menu-link:hover::before, .menu-nav .menu-link:hover::after {
    background-color: #E11481;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .current-page .menu-link {
    color: #E11481;
  }
  .current-page .menu-link::before, .current-page .menu-link::after {
    background-color: #E11481;
    -webkit-transition: unset;
    transition: unset;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #hamburguer-menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */